app/code/local/MillenniumMGT/Configurable/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
	xmlns:typens="urn:{{var wsdl.name}}" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
	<types>
		<schema 
			xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="attributesValues">
				<all>
					<element name="idAttributes" type="xsd:int" />
					<element name="label" type="xsd:string" />
					<element name="value" type="xsd:string" />
				</all>
			</complexType>				
			<complexType name="attributesValoresArray">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="typens:attributesValues[]" /> 
					</restriction>
				</complexContent>
			</complexType>			
			<complexType name="productSimple">
				<all>
					<element name="idSimples" type="xsd:int" />
					<element name="attributes" type="typens:attributesValoresArray" /> 
				</all>
			</complexType>			
			<complexType name="productSimpleArray">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productSimple[]" /> 
					</restriction>
				</complexContent>
			</complexType>				
		</schema>
	</types>
	<message name="configurableConnetcRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="IdConfigurable" type="xsd:string" />
		<part name="variations" type="typens:ArrayOfString"/>
		<part name="productSimple" type="typens:productSimpleArray"/>
	</message>
	<message name="configurableConnetcResponse">
		<part name="result" type="xsd:string" />
	</message>
	<portType name="{{var wsdl.handler}}PortType">
		<operation name="configurableConnetcLink">
			<documentation>Conectar produtos simples no configuravel</documentation>
			<input message="typens:configurableConnetcRequest" />
			<output message="typens:configurableConnetcResponse" />
		</operation>
	</portType>
	<binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="configurableConnetcLink">
			<soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
			<input>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="{{var wsdl.name}}Service">
		<port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
			<soap:address location="{{var wsdl.url}}" />
		</port>
	</service>
</definitions> 